<%= form_for(new_haven_lead) do |f| %>
  <% if @new_haven_lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_haven_lead.errors.count, "error") %> prohibited this new_haven_lead from being saved:</h2>
        <ul>
        <% @new_haven_lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name ( * required )" %>
  </div>

  <div class="field">
    <%= f.text_field :email,:placeholder => "Email ( * required )" %>
  </div>

  <div class="field">
    <%= f.text_field :zip, :placeholder => "Zip Code ( * required )" %>
  </div>

  <div class="field">
    <%= f.text_field :phone, :placeholder => "Phone"  %>
  </div>

  <div class="field">
    <%= f.text_field :fav_veg, :placeholder => "Your 3-5 favorite vegetables" %>
  </div>

  <div class="field">
    <%= f.text_area :space, :placeholder => "Tell us about yourself and the space you have for growing" %>
  </div>

  <div class="actions">
    <%= f.submit "Join Vejy Club", :class => "btn-submit" %>
  </div>
<% end %>
