<p id="notice"><%= notice %></p>

<h1>New Haven Leads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fav veg</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Zip</th>
      <th>Space</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_haven_leads.each do |new_haven_lead| %>
      <tr>
        <td><%= new_haven_lead.name %></td>
        <td><%= new_haven_lead.fav_veg %></td>
        <td><%= new_haven_lead.email %></td>
        <td><%= new_haven_lead.phone %></td>
        <td><%= new_haven_lead.zip %></td>
        <td><%= new_haven_lead.space %></td>
        <td><%= link_to 'Show', new_haven_lead %></td>
        <td><%= link_to 'Edit', edit_new_haven_lead_path(new_haven_lead) %></td>
        <td><%= link_to 'Destroy', new_haven_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New Haven Lead', new_new_haven_lead_path %>
